.App {
  text-align: center;
  background-color:#b2b3c6;
   font-family: "Goudy Bookletter 1911", serif; 
  /* font-family: "Love Light", cursive; */
   /* font-family: "Playwrite NZ Basic Guides", cursive; */
}

.link {
 
  padding: 10px;
}

.nav {
  background-color: cadetblue;
  height: 70px;
}

.book-image {
  
  height: 100px;
  width: 100px;
}

.book-container {
  background-color: cadetblue;
  /* width: 800px; */
  display: flex;
  justify-content: space-around;
  overflow-y: auto;
  

}

.book-title {
  background-color: antiquewhite;
  font-family: "Love Light", cursive;
  box-shadow: 2px 3px 17px black;

}

.book-button {
  position: absolute;
  margin-top: 40px;
  margin-left: -100px;
}

.hero-title {
  background-color: lightgrey;
  box-shadow: 2px 3px 17px black;
}

.book {
  padding: 10px;
  margin-left: 20px;
  height: 350px;
  width: 300px;
  background-color: rgb(207, 159, 142);
  box-shadow: 2px 3px 17px black;
  font-family: "Playwrite NZ Basic Guides", cursive;
  border-radius: 25px;
  border-color: black;
  border-width: 1px;
  border-style: groove;
 
}

.book-form {
  
  position: absolute;
  top: 300px;
  left: 600px;
   border-radius: 25px;
  background-color: bisque;
  height: 300px; 
   width: 300px; 
   display: flex;  
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5px;
   
}

.login-form {
  position: absolute;
  margin-left: 600px;
  margin-top: -300px;
  background-color: rgb(29, 30, 78);
  width: 300px;
}

.signup{
  position: absolute;
  margin-top: -300px;
  margin-left: 550px;
  background-color: rgb(9, 9, 9);
  width: 400px;
  color: white;
}


.hero-image {
  
  box-shadow: 2px 3px 17px black;
  width: 70%;
  height: 200px;;
}

.hidden {
  visibility: hidden;
}

.fa-trash-can {
  position: absolute;
  margin-top: 0px;
  margin-left: 100px;
  font-size: larger;
}

.fa-pen-fancy {
  position: absolute;
  margin-top: 0px;
  margin-left: 60px;
  font-size: larger;

}

.fa-pen-fancy {
  position: absolute;
  margin-top: 0px;
  margin-left: 60px;
  font-size: larger;

}


.fa-screwdriver {
  position: absolute;
  margin-top: 0px;
  margin-left: -100px;
  font-size: larger;

}

.book-edit-form {
  position: fixed;
  top: 20%;
  left: 50%;
 background-color: coral;
 width: 20%;
 height: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  
}

