.App {
  text-align: center;
  background-color:#020310;
 color: rgb(63, 57, 57);

   font-family: "Goudy Bookletter 1911", serif; 

  /* font-family: "Love Light", cursive; */
   /* font-family: "Playwrite NZ Basic Guides", cursive; */
}

.link {
 
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: rgb(24, 56, 25);
  height: 70px;
}

.book-image {
  
  height: 100px;
  width: 100px;
}

.book-container {
  background-color: rgb(15, 70, 16);
  width: 100%;
  gap: 20px;
  /* width: 800px; */
  display: flex;
  justify-content: space-around;
   overflow-y: scroll;  
  /* overflow-x: scroll;  */
  overflow-x: auto;
overflow-y: hidden;
  

}

.books-wrap {
   background-color: rgb(15, 70, 16);
  width: 100%;
  gap: 20px;
  /* width: 800px; */
  display: flex;
  justify-content: space-around;
   overflow-y: scroll;  
  /* overflow-x: scroll;  */
  overflow-x: auto;
overflow-y: hidden;

}

.book-title {
  background-color: antiquewhite;
  font-family: "Love Light", cursive;
  box-shadow: 2px 3px 17px black;

}

/* .book-button {
 
} */

.hero-title {
  background-color: lightgrey;
  box-shadow: 2px 3px 17px black;
}

.book {
flex-shrink: 0;
  padding: 10px;
  /* margin-left: 20px; */
  height: 350px;
  width: 300px;
  background-color: rgb(170, 157, 152);
  box-shadow: 2px 3px 17px black;
  font-family: "Playwrite NZ Basic Guides", cursive;
  border-radius: 25px;
  border-color: black;
  border-width: 1px;
  border-style: groove;
 
}

.book-form {
  
   position: absolute; 
   
   top: 100px; 
  left: 600px; 
   border-radius: 25px;
  background-color: rgb(1, 37, 2);
  height: 300px;
  max-width: 300px; 
   width: 100%; 
   display: flex;  
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5px;
   
}

.login-form {
  position: absolute;
  margin-left: 600px;
  margin-top: -300px;
  background-color: rgb(29, 30, 78);
  width: 300px;
}

.signup{
  position: absolute;
  margin-top: -300px;
  margin-left: 550px;
  background-color: rgb(9, 9, 9);
  width: 400px;
  color: white;
}


.hero-image {
  
  box-shadow: 2px 3px 17px black;
  width: 70%;
  height: 200px;;
}

.hidden {
  visibility: hidden;
}

.fa-trash-can {
  
  font-size: larger;
}

.fa-pen-fancy {
 
  font-size: larger;

}

.fa-pen-fancy {
  
  font-size: larger;

}


.fa-screwdriver {
  
  font-size: larger;

}

.book-edit-form {
  position: fixed; 
  left: 600px;
  top: 20%;
  color: white;
 background-color: rgb(1, 28, 11);
 width: 20%;
 height: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  
}

.submit {
  font-family: 'Courier New', Courier, monospace;
}

.profile {
  background-color:rgb(15, 70, 16);
  max-width: 800px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
}

/* .pro-book-img {
  height: 150px;
} */

.pro-img {
  border-radius: 50px;
  height: auto;
  width: auto;
}

.pro-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro-book-image {
  height: 200px;
}

.footer {
  background-color: rgb(9, 9, 9);
  height: 200px;
}

.reviews-container {
  background-color: rgb(1, 81, 64);
  height: 300px;
  width: 100%;
}

.review-form {
  position: absolute;
  margin-top: -300px;
  margin-left: 600px;
  background-color: rgb(4, 98, 70);
  height: 300px;
  max-width: 300px;
  width: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.user-container {
  padding: 30px;
  background-color: rgb(2, 91, 75);
  height: 600px;
  width: 100%;
  display: flex;
  gap: 10px;
}

.user {
  border-color: black;
  border-style: solid;
  border-width: 3px;
  display: flex;
  border-radius: 25px;
  background-color: white;
  height: 300px;
  width: auto;
 /* max-width: 400px;
 width: 100%; */
}

.user-books {
  
 display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.pro-books {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
