.App {
  text-align: center;
  background-color:#b2b3c6;
   font-family: "Goudy Bookletter 1911", serif; 
  /* font-family: "Love Light", cursive; */
   /* font-family: "Playwrite NZ Basic Guides", cursive; */
}

.book-image {
  
  height: 100px;
  width: 100px;
}

.book-container {
  background-color: cadetblue;
  display: flex;
  justify-content: space-around;
  overflow-y: auto;

}

.book-title {
  background-color: antiquewhite;
  font-family: "Love Light", cursive;
  box-shadow: 2px 3px 17px black;

}

.book {
  height: 350px;
  width: 300px;
  background-color: rgb(207, 159, 142);
  box-shadow: 2px 3px 17px black;
  font-family: "Playwrite NZ Basic Guides", cursive;
  border-radius: 25px;
  border-color: black;
  border-width: 1px;
  border-style: groove;
 
}

/* .goudy-bookletter-1911-regular {
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 400;
  font-style: normal;
} */

.hero-image {
  box-shadow: 2px 3px 17px black;
  width: 70%;
  height: 200px;;
}